<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yorimichi.yorimichi.domain.product.repository.ProductImageMapper">

    <select id="findImageUrlsByProductId" resultType="string">
        SELECT image_url
        FROM PRODUCT_IMAGE
        WHERE product_id = #{productId}
        ORDER BY is_thumbnail DESC, image_order ASC, image_id ASC
    </select>

</mapper>
